%Museo-700
	font-family: Museo-700
	font-weight: normal
	font-style: normal

%Museo-300
	font-family: Museo-300
	font-weight: normal
	font-style: normal

%Museo-500
	font-family: Museo-500
	font-weight: normal
	font-style: normal

%font-accent
	color: #3b8995

%skill-color
	background-color: #3b8995
