<section id="about-me"class="about">

  <h3 class="title"> Myself in A Nutshell</h3>
  <div class="belt">

    <div class="face-wrap">

      <div class="face-lockup">

      <div class="face" style="background-image: url({{ site.data.portfolio.avatar }})"></div>
      <div data-folder="proj-1"class="icon icon-1">{% include icons/icon-apple.html %}</div>
      <div data-folder="proj-2"class="icon icon-2">{% include icons/icon-martini.html %}</div>
      <div data-folder="proj-3"class="icon icon-3">{% include icons/icon-suitcase.html %}</div>
      <div data-folder="proj-4"class="icon icon-4">{% include icons/icon-world.html %}</div>

    </div>
      <hr class="bar">
      <div class="blurb">
      {{site.data.portfolio.blurb}}
      </div>
      <hr class="bar bar2">

      </div>

    <div class="about-wrap">
      <div class="about-container">
        <div class="work-return"> {% include  icons/icon-back.html%}</div>
        <div class="project-load"></div>

      </div>
    </div>

    </div>



</section>
