<section id="contact" style="background-image: url({{ site.data.layout.contact }})">

  <h1 class="title">Contact Me</h1>

  <div class="social-lockup">

    <a href="https://www.facebook.com/robert.m.williams.984">
      <div class="social-icon" alt="facebook">{% include icons/icon-facebook.html %}</div>
    </a>

    <a href="http://www.linkedin.com/hp/?dnr=ArzO7k2IIAw_yysfho1N7kA2xN9lbvzzDqD0">
      <div class="social-icon" alt="linkedIn">{% include icons/icon-linkedin.html %}</div>
      </a>

    <a href="https://twitter.com/mileswilliams89">
      <div class="social-icon" alt="Twitter">{% include icons/twitter-icon.html %}</div>
    </a>

    <a href="https://www.pinterest.com/mileswilliams7">
      <div class="social-icon" alt="Pinterest">{% include icons/pinterest-icon.html %}</div>
    </a>

    <a href="https://www.behance.net/MilesWilliams">
      <div class="social-icon" alt="Behancé">{% include icons/icon-behance.html %}</div>

    </a>
  </div>
  <hr class="bar3">

    <a class="email" href="mailto:robertmileswilliams@icloud.com"> robertmileswilliams@icloud.com </a>

  <div class="terms">
    <p>
      All Content Copyright 2015©
    </p>

  </div>

</section>
