#slide3
  background: url(/assets/images/passion1.jpg) 50% 0 no-repeat fixed
  color: #fff
  height: 400px
  padding: 170px 0 0 0
  background-size: cover
  overflow: hidden

.content
  overflow: hidden
  margin-top: -300px

  .quotes
    width: 620px
    @extend %Museo-300
    color: $font-light
    font-size: 24px
    font-weight: 300
    line-height: 1.4em
    display: block
    position: relative
    text-align: center
    display: flex
    flex-direction: column
    margin: 0 auto 0 auto

  h4
    color: $font
    @extend %Museo-300
    font:
      size: 20px
      weight: 700
    line-height: 1.4em
    letter-spacing: 0.05em
    display: block
    position: relative
    text-align: center
    display: flex
    padding: 34px 0 0 0
    margin: 0
    flex-direction: column
